services:
  app:
    container_name: campus_app
    build: .
    restart: always
    networks:
      - campus_net
    env_file:
      - .env
    # --- HERE IS THE CONFIGURATION FOR PRODUCTION ---
    environment:
      - NODE_ENV=production
    volumes:
      # This maps the folder "docker-data" on your ubuntu server
      # to the "/app/data" folder inside the container.
      - ./data:/app/data

  tunnel:
    container_name: campus_tunnel
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel run
    env_file:
      - .env
    networks:
      - campus_net
    depends_on:
      - app

networks:
  campus_net: