body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #2d2d2d; /* Un color oscuro de fondo para que resalte el canvas */
    overflow: hidden; /* Evitar barras de scroll del navegador */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify_content: center;
    align_items: center;
}